// import css libraries
@import "animate";
@import "angular-material";

// import fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

// css variables
$white: #F6F6F6 !default;
$dark: #F57C00 !default;
$blue: #14052C !default;

html, body{
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important;
	margin: 0;
}

.landing-page{
	overflow-y: hidden;
}

.background-pic{
  position: absolute;
  min-width: 99vw;
  min-height: 99vh;

   img{
    min-height: 99vh;
    min-width: 99vw;

    width: 100vw;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
   }
}

.main-header{

	img{
		position: relative;
		 margin-top: 150px;
		 max-width: 250px;
		 max-height: 150px;
	}

}

.landing-frame{
	position: relative;
	background-color: transparentize($white, 0.8);
	margin-top: 90px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	.frame-header{
		color: $white;
		font-size: 2em;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.08em;
	}

	.job-info{
		margin-top: 25px;

		p{
			color: #FFE0B2;
			text-align: center;
			font-size: 1em;
			// font-family: 'Raleway', sans-serif;
			text-transform: capitalize;
			letter-spacing: 0.06em;
			font-weight: 800;
		}
	}
}

.enter-button{
	margin-top: 50px;

	.md-button{
		min-width: 200px;
		font-size: 1.2em;
		font-weight: 300;
		color: $white;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.2em;
	}

	.md-button:hover {
		font-weight: 800;
		letter-spacing: 0.3em;
	}
}

.gallery-header{
	background-color: $blue;
	height: 70px;

	img{
		max-width: 80px;
		max-height: 60px;
	}
}

.page-numbers{
	overflow: scroll;
}

.image-grid{
	margin-top: 60px;
	background-color: transparentize(#FBE9E7, 0.7);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-title{
	margin-top: 50px;

	p{
		color: $dark;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.2em;
		font-weight: bolder;
		font-size: 1.4em;
	}

	img{
		max-width: 40px;
		max-height: 40px;
	}
}

.gallery-search{
	margin-left: 50px;
	margin-top: 40px;

	md-input-container:not(.md-input-has-value) input:not(:focus){
		border-bottom: 1px solid $blue;
	}
}

.gallery-pageNums{

	.md-fab{
		background-color: $dark !important;
	}

	p{
		color: $blue;
		font-weight: 800;
	}
}

.gallery-search-query{
	margin-left: 50px;
	margin-top: 40px;

	p{
		color: $blue;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		letter-spacing: 0.2em;
		font-weight: bolder;
		font-size: 1em;
	}
}

// mobile media query
@media only screen and (max-width: 500px) {

	html, body{
		font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important;
		margin: 0;
		height: 100%;
	}

  .main-header{

  	img{
  		position: relative;
  		 margin-top: 50px;
  		 max-width: 250px;
  		 max-height: 175px;
  	}

  }

  .landing-frame{
  	margin-top: 50px;

  	.frame-header{
  		font-size: 1.4em;
  	}

  	.job-info{
  		margin-top: 25px;

  		p{
  			font-size: 0.8em;
  		}
  	}
  }

	.gallery-title{
		margin-top: 25px;

		p{
			font-size: 1em;
		}

		img{
			max-width: 40px;
			max-height: 40px;
		}
	}

	.gallery-search{
		margin-left: 50px;
		margin-top: 10px;
	}

	.gallery-pageNums{

		.md-fab{
			max-width: 35px;
			max-height: 25px;
		}
	}

	.image-grid{
		margin-top: 35px;
	}

	.gallery-search-query{
		margin-left: 25px;
		margin-top: 20px;

		p{
			font-size: 0.8em;
		}
	}

}
